@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: #eee;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
  --overlay-gradient: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: #333;
  --overlay-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

textarea {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  background-color: var(--label-color);
  color: var(--text-color);
  border-radius: 5px;
  overflow: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal > .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.2rem;
}

.modal .actions {
  display: flex;
  gap: 5px;
}

.modal .actions > * {
  flex: 1;
}

.modal .delete-btn {
  background-color: var(--red);
}

.modal .input-group {
  display: flex;
  gap: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 992px;
  margin: auto;
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: relative;
  color: white;
  padding: 10px;
}

.navbar .main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--text-color);
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar .logo img {
  width: 25px;
  height: 25px;
}

.navbar .actions {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.navbar .actions > button {
  font-size: 1.5rem;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

.navbar .search-btn {
  display: none;
}

.search-box {
  display: inline-flex;
  width: 250px;
  height: min-content;
  padding: 5px 10px;
  background-color: white;
  color: #333;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 0;
  border: none;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px;
}

.clock {
  font-size: 3rem;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
  cursor: pointer;
  padding: 5px 10px;
  width: min-content;
  max-width: 100%;
  height: min-content;
  min-height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.breadcrumbs * {
  min-width: 80px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
}

.search-bar {
  display: none;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-bar button {
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
}

.search-bar .search-box {
  flex: 1;
}

.action-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.action-bar > * {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.75rem;
  cursor: pointer;
}

.items-grid {
  position: relative;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  grid-auto-rows: minmax(100px, auto);
}

.items-grid .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.items-grid .item.selected {
  border-color: var(--border-color);
}

.items-grid .item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.items-grid .item p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  max-height: 25px;
  text-align: center;
}

.items-grid .add-btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
  font-size: 2rem;
}

.create-modal .modal-content {
  width: 300px;
}

.item-modal .name-input {
  flex: 1;
  background-color: transparent;
  color: var(--text-color);
}

.item-modal .icon-input {
  display: inline-flex;
  cursor: pointer;
}

.item-modal .icon-input img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.item-modal .content-input {
  flex: 1;
  resize: none;
  height: 225px;
  font-size: 1.1rem;
}

.text-modal .modal-content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  border-radius: 0;
  border: none;
}

.settings-modal .modal-content {
  transform: none;
  top: 50px;
  left: auto;
  right: 20px;
  gap: 5px;
  width: 300px;
}

.toast {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.toast > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  width: max-content;
  max-width: 100%;
}

.menu-modal .header {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.menu-modal .header .title {
  font-size: 17px;
  font-weight: 500;
}

.menu-modal .header .subtitle {
  opacity: 0.8;
  margin-top: 5px;
  font-size: 13px;
}

.menu-modal .item {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.1s;
}

.menu-modal .item:hover {
  background: var(--label-color);
}

.menu-modal .item .bi {
  font-size: 1.5rem;
}

.menu-modal .item .label {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.menu-modal .item span {
  color: var(--text-color);
  font-size: 12px;
  opacity: 0.8;
}

.menu-modal .item .arrow {
  color: var(--text-color);
  font-size: 22px;
}

.menu-modal .item input[type="number"] {
  width: 40px;
  padding: 2px;
  background-color: var(--label-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 26px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(24px);
}

.confirm-modal .actions .confirm {
  background-color: var(--red);
}

.progress-modal .modal-content {
  width: 300px;
}

.progress-modal progress {
  width: 100%;
  background-color: #4caf50;
}

.drop-modal {
  pointer-events: none;
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.drop-zone.dragover .drop-modal {
  display: block;
}

.drop-modal .msg-box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {
  .sm-hidden {
    display: none !important;
  }

  .navbar .actions .search-box {
    display: none;
  }

  .navbar .search-btn {
    display: inline-flex;
  }

  .navbar.search .main-content {
    display: none;
  }

  .navbar.search .search-bar {
    display: flex;
  }

  .settings-modal .modal-content {
    bottom: auto;
    top: 50px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 100%;
  }
}
